<main class="pt-20 xl:px-10">
   <section class="container relative mx-auto  grid lg:grid-cols-[280px_minmax(0,1fr)_300px] gap-4 items-start">

      <aside class="sticky top-20 bg-white rounded-2xl p-4 border-gray-300 shadow">
         <app-side-left></app-side-left>
      </aside>

      <section >
         <app-feed-content></app-feed-content>
      </section>

      <aside class="sticky top-20  bg-white rounded-2xl p-4 border-gray-300 shadow">
         <app-suggestions></app-suggestions>
      </aside>
   
   </section>
</main>
