
    <ul class="grid grid-cols-2 md:grid-cols-1 gap-x-2 gap-y-3">
        <li 
        routerLink="/feed"
        routerLinkActive="bg-blue-50 text-mainColor"
         class="bg-gray-50 p-3 text-gray-600 cursor-pointer rounded text-center font-semibold  hover:bg-gray-100  "><i class="fa-regular fa-house me-1"></i>Feed</li>
        <li 
         routerLink="/profile"
        routerLinkActive="bg-blue-50 text-mainColor"
        class="bg-gray-50 p-3 text-gray-600  cursor-pointer rounded text-center font-semibold  hover:bg-gray-100 "><i class="fa-brands fa-fly me-1"></i>My Posts</li>
        <li
         routerLink="/profile"
        routerLinkActive="bg-blue-50 text-mainColor"
         class="bg-gray-50 p-3 text-gray-600 cursor-pointer rounded text-center font-semibold  hover:bg-gray-100 "><i class="fa-solid fa-globe me-1"></i>Community</li>
        <li
         routerLink="/profile"
        routerLinkActive="bg-blue-50 text-mainColor"
         class="bg-gray-50 p-3 text-gray-600  cursor-pointer rounded text-center font-semibold  hover:bg-gray-100 "><i class="fa-solid fa-bookmark me-1"></i>Saved</li>
    </ul>
   
